:host {
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
  background: url("./assets/images/background.png") no-repeat left top;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
}
img {
  height: 38%;
  border-radius: 50%;
  margin-right: 8%;
  flex: 0 0 auto;
}
.name {
  font-size: 2vh;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media print {
  .name {
    font-size: 6.5mm;
  }
}
