:host {
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*******************************************************
  preset1
*******************************************************/
.preset1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 7% 8%;
}

.preset1 .info-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.preset1 .image {
  flex: 0 0 auto;
}

.preset1 .text {
  color: #444;
  padding: 2px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preset1 .event-info {
  margin-top: -10%;
}

.preset1 .event-image {
  width: 6%;
  margin-right: 3.2%;
}

.preset1 .event-name {
  font-size: 1.4vh;
  color: #aaa;
}

.preset1 .user-avatar {
  width: 20%;
  border-radius: 50%;
  margin-right: 8%;
}

.preset1 .user-name {
  font-size: 2vh;
}

@media print {
  .preset1 .event-name {
    font-size: 3mm;
  }
  .preset1 .user-name {
    font-size: 6.5mm;
  }
}
