:host {
  background-color: #fff;
  position: relative;
}

:host::before {
  content: '';
  display: block;
  padding-top: 141.4%; /* A4 ratio */
}

.inner {
  position: absolute;
  top: 3.7%;
  left: 7.1%;
  width: 85.7%;
  height: 92.6%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;
}

app-card {
  flex: 0 0 50%;
  height: 20%;
}

@media print {
  :host {
    page-break-after: always;
  }
  :host::before {
    content: none;
  }
  .inner {
    position: static;
    width: 182mm;
    height: 275mm;
    margin: 11mm 15mm;
  }
}
