<share-buttons
  [description]="text"
  [url]="url"
  [count]="true"
  [linkedIn]="false"
  [tumblr]="false"
  [google]="false"
  [pinterest]="false"
  [stumbleUpOn]="false"
  [reddit]="false"
></share-buttons>

<a
  href="{{url}}"
  class="hatena-bookmark-button"
  [attr.data-hatena-bookmark-title]="text"
  data-hatena-bookmark-layout="simple-balloon"
  title="このエントリーをはてなブックマークに追加"
>
  <img
    src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
    alt="このエントリーをはてなブックマークに追加"
    width="20"
    height="20"
    style="border: none;"
  />
</a>
