<header class="logo">
  <i class="fa fa-user-circle" aria-hidden="true"></i>
  <h1>参加者の名は。</h1>
  <p>ConnpassのURLからネームカードを生成できます。</p>
</header>

<form class="setting-form">
  <md-input-container class="input-url">
    <input md-input placeholder="Connpass Event URL" [(ngModel)]="url" name="url" type="text">
    <md-hint class="demo" align="end" (click)="showDemo()">demo</md-hint>
  </md-input-container>

  <ul class="select-member">
    <li *ngFor="let userKind of userKinds">
      <md-checkbox
        name="user-kind"
        (change)="checkUserKind(userKind, $event)"
        [checked]="selected.includes(userKind)"
      >
        {{userKind.LABEL}}
      </md-checkbox>
      <md-input
        *ngIf="userKind.KEY === 'waiting'"
        class="waiting-number"
        name="waiting"
        type="number"
        align="end"
        min="1"
        max="999"
        [(ngModel)]="waitingNumber"
        (change)="changeWaitingNumber(waitingNumber)"
        [disabled]="!selected.includes(userKind)"
      >
        <span md-prefix>上位</span>
        <span md-suffix>名</span>
      </md-input>
    </li>
  </ul>

  <button md-raised-button color="primary" type="submit" (click)="submit()" [disabled]="loading">Create</button>
</form>

<footer>
  <app-share-buttons></app-share-buttons>
  <p class="created-by">Created by <a href="http://yoshiko-pg.github.io/">@yoshiko_pg</a></p>
</footer>
