<div class="logo">
  <h1>Connpass Namecard Generator</h1>
</div>

<p>ConnpassのURLからネームカードを生成できます。</p>

<form class="setting-form">
  <md-input placeholder="Connpass Event URL" [(ngModel)]="url" name="url" type="text"></md-input>

  <ul class="select-member">
    <li>
      <md-checkbox>管理者</md-checkbox>
    </li>
    <li>
      <md-checkbox [checked]="true">参加者</md-checkbox>
    </li>
    <li>
      <md-checkbox>補欠者</md-checkbox>
      <md-input name="reserve-count" type="number" align="end" value="10" min="1" max="999" [disabled]="true">
        <span md-prefix>上位</span>
        <span md-suffix>名</span>
      </md-input>
    </li>
  </ul>

  <button md-raised-button color="primary" type="submit" (click)="submit()">Create</button>
</form>

<footer>
  <app-share-buttons></app-share-buttons>
  <p class="created-by">Created by <a href="http://yoshiko-pg.github.io/">@yoshiko_pg</a></p>
</footer>
