<h2>Change design</h2>
<ul class="presets">
  <li
    class="preset-preview"
    [class.current]="preset === currentPreset"
    [class.hidden]="!preset.backgroundUrl"
    [style.background-image]="'url(' + preset.backgroundUrl + ')'"
    (click)="changePreset(preset)"
    *ngFor="let preset of PRESETS"
  ></li>
  <li
    class="preset-preview"
    [class.current]="currentPreset.className === 'custom'"
    [style.background-image]="'url(' + customBgUrl + ')'"
    (click)="changeToCustomPreset()"
    *ngIf="customBgUrl"
  ></li>
  <li class="preset-preview">
    <i class="fa fa-plus"></i>
    <label>
      <input type="file" (change)="custom($event)" accept="image/png,image/jpeg,image/gif,image/svg+xml">
    </label>
  </li>
</ul>
