body{
  color: #333;
  font-size: 12px;
  font-family: 'Maven Pro', sans-serif;
  counter-reset: page-number;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  body {
    width: 210mm;
  }
}
