<share-buttons
  [description]="text"
  [url]="url"
  [count]="false"
  [linkedIn]="false"
  [tumblr]="false"
  [google]="false"
  [pinterest]="false"
  [stumbleUpOn]="false"
  [reddit]="false"
></share-buttons>

<a
  href="{{url}}"
  class="hatena-bookmark-button"
  [attr.data-hatena-bookmark-title]="text"
  data-hatena-bookmark-layout="simple-balloon"
  title="このエントリーをはてなブックマークに追加"
>
  <img
    src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
    alt="このエントリーをはてなブックマークに追加"
    width="20"
    height="20"
    style="border: none;"
  />
</a>

<a
  *ngIf="!created"
  class="github-button"
  href="https://github.com/yoshiko-pg/your-name"
  data-icon="octicon-star"
  data-count-href="/yoshiko-pg/your-name/stargazers"
  data-count-api="/repos/yoshiko-pg/your-name#stargazers_count"
  data-count-aria-label="# stargazers on GitHub"
  aria-label="Star yoshiko-pg/your-name on GitHub"
>Star</a>
