:host {
  overflow-y: auto;
}

app-cards {
  width: 70vh;
  max-width: 80%;
  margin: 50px auto;
  display: block;
}

.print-button{
  position: fixed;
  right: 25px;
  bottom: 25px;
}

@media print {
  .print-button {
    display: none;
  }
  :host app-cards {
    width: auto;
    max-width: none;
    margin: 0;
  }
}
